.header {
  height: 100px;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  box-shadow: 0 2px 5px green;
  align-items: center;
  background-color: black; }

ul {
  list-style: none; }

.nav__enlace {
  color: green;
  text-decoration: none;
  text-transform: uppercase;
  transition: color .5s; }

.nav__enlace:hover {
  color: white; }

.nav__lista {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  font-family: 'Montserrats', sans-serif;
  font-size: 20px; }

.nav {
  width: 100%; }

.nav__item__oculto {
  display: none; }

.fa-solid {
  color: black; }

@media screen and (max-width: 600px) {
  .header {
    flex-direction: row; }
    .header .header__icono {
      display: block;
      font-size: 32px;
      color: green; }
    .header .fa-solid {
      color: green; }
    .header #sidebar:target {
      transform: translateX(0); }
    .header #sidebar {
      background-color: #acacac;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      height: 100vh;
      width: 80%;
      max-width: 400px;
      padding: 1rem;
      transform: translateX(-100%);
      transition: transform 0.5s; }
    .header #sidebar .nav__lista {
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: flex-start; }
    .header .nav__item__oculto {
      display: block; } }

body {
  background-color: black; }

.art1 {
  display: flex;
  align-items: center;
  width: 100%; }
  .art1 .izq {
    width: 50%; }
  .art1 .derecha1 {
    width: 50%; }
  .art1 .img__mouse {
    width: 100%; }
  .art1 .title {
    margin-left: 20px;
    color: green;
    transition: 0.5s;
    text-align: center;
    box-shadow: 0 0 1px 2px green; }
  .art1 .info1 {
    color: white;
    padding-left: 40px;
    text-align: center;
    align-items: center; }
  .art1 .title:hover {
    color: white; }

.video__razer .video1 {
  max-width: fit-content 100%; }
  .video__razer .video1 .video__razer1 {
    max-width: 100%; }

.video__razer .title__razerv2 {
  box-shadow: 0px 2px green;
  text-align: center;
  padding-left: 50px;
  padding-top: 20px;
  color: green;
  transition: 0.5s; }

.video__razer .title__razerv2:hover {
  color: #d2d2d2; }

.video__razer .sub__video {
  color: white;
  text-align: center; }

.teclado__razer .img__bg {
  background-image: url(../multimedia/keyboard.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px;
  margin: 100px;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%; }
  .teclado__razer .img__bg .title__over {
    color: green;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: 0.5s; }
  .teclado__razer .img__bg .title__over:hover {
    color: white; }
  .teclado__razer .img__bg .contenido2 {
    color: white;
    position: relative;
    top: 280px; }

.audio__razer .parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }
  .audio__razer .parent .div1 {
    grid-area: 1 / 1 / 2 / 2; }
    .audio__razer .parent .div1 .title__izq {
      color: green;
      transition: 0.5s;
      text-align: center; }
    .audio__razer .parent .div1 .title__izq:hover {
      color: white; }
    .audio__razer .parent .div1 .sub__audio {
      color: whitesmoke;
      text-align: center; }
    .audio__razer .parent .div1 .cont__izq {
      color: white;
      font-size: 20px;
      text-align: center; }
  .audio__razer .parent .div2 {
    grid-area: 1 / 2 / 2 / 3; }
    .audio__razer .parent .div2 .sub__audio {
      color: whitesmoke;
      text-align: center; }
    .audio__razer .parent .div2 .title__der {
      color: green;
      transition: 0.5s;
      text-align: center; }
    .audio__razer .parent .div2 .title__der:hover {
      color: white; }
    .audio__razer .parent .div2 .cont__der {
      color: white;
      text-align: center;
      font-size: 20px; }

.audio__razer .izquierda {
  width: 100%; }

.audio__razer .derecha {
  width: 100%; }

.audio__razer .parent1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 0px; }
  .audio__razer .parent1 .div1 {
    grid-area: 1 / 1 / 2 / 2; }
  .audio__razer .parent1 .div2 {
    grid-area: 1 / 2 / 2 / 3; }

.volver {
  display: inline-block;
  padding: 20px;
  background-color: black;
  color: white;
  font-size: 40px;
  position: fixed;
  bottom: 0;
  right: 0;
  transition: 0.5s; }

.volver:hover {
  background-color: green; }

@media screen and (max-width: 600px) {
  .art1 {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-top: 20px; }
    .art1 .izq {
      display: flex;
      flex-direction: column;
      width: 100%; }
      .art1 .izq .title {
        margin: 0; }
      .art1 .izq .info1 {
        display: flex;
        font-size: 20px;
        margin: 0;
        padding: 0;
        text-align: center; }
    .art1 .derecha1 {
      width: 100%; }
  .teclado__razer {
    display: none; }
  .volver {
    display: none; }
    .volver .material-symbols-outlined {
      display: none; }
  .video__razer {
    width: 100%; }
    .video__razer .title__razerv2 {
      padding: 0;
      margin: 0; }
  .teclado__razer2 {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%; }
    .teclado__razer2 .img__teclado {
      width: 100%;
      height: 50%; } }

.mousepad .head__mousepad {
  align-items: center;
  text-align: center; }
  .mousepad .head__mousepad .mousepad__head {
    color: white;
    text-align: center;
    align-items: center;
    background-color: #44D62C;
    padding: 2px; }

.mousepad .mousepad__razer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #44D62C; }
  .mousepad .mousepad__razer .mousepad__title {
    color: black;
    transition: 0.5s; }
  .mousepad .mousepad__razer .mousepad__title:hover {
    color: white; }

.mousepad .pad__img .mousepad__img {
  padding: 1pxs; }

.art1 {
  display: flex;
  align-items: center; }
  .art1 .izq .derecha1 {
    width: 49%; }
  .art1 .title {
    margin-left: 20px;
    color: green;
    transition: 0.5s;
    text-align: center;
    box-shadow: 0 0 1px 2px green; }
  .art1 .info1 {
    color: white;
    padding-left: 40px;
    text-align: center;
    align-items: center; }
  .art1 .title:hover {
    color: white; }

.mouses .img__mouse1 {
  width: 100%; }

.mouses .colores__mouse {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center; }

.mouses .mouse__negro {
  grid-area: 1 / 1 / 2 / 2; }

.mouses .mouse__blanco {
  grid-area: 1 / 2 / 2 / 3; }

.mouses .mouse__rosa {
  grid-area: 1 / 3 / 2 / 4; }

.mouses .mouse__amarillo {
  grid-area: 1 / 4 / 2 / 5; }

.volver {
  display: inline-block;
  padding: 20px;
  background-color: black;
  color: white;
  font-size: 40px;
  position: fixed;
  bottom: 0;
  right: 0;
  transition: 0.5s;
  overflow: unset; }

.volver:hover {
  background-color: green; }

.grone {
  color: white;
  transition: 0.5s; }

.grone:hover {
  color: #15181B; }

.quartz {
  color: white;
  transition: 0.5s; }

.quartz:hover {
  color: grey; }

.rosa {
  color: white;
  transition: 0.5s; }

.rosa:hover {
  color: pink; }

.cyberamarillo {
  color: white;
  transition: 0.5s; }

.cyberamarillo:hover {
  color: yellow; }

@media screen and (max-width: 600px) {
  .header .header {
    flex-direction: row; }
    .header .header .header__icono {
      display: block;
      font-size: 32px;
      color: green; }
    .header .header .fa-solid {
      color: green; }
    .header .header #sidebar:target {
      transform: translateX(0); }
    .header .header #sidebar {
      background-color: #acacac;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      height: 100vh;
      width: 80%;
      max-width: 400px;
      padding: 1rem;
      transform: translateX(-100%);
      transition: transform 0.5s; }
    .header .header #sidebar .nav__lista {
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: flex-start; }
    .header .header .nav__item__oculto {
      display: block; }
  .mousepad__img {
    width: 100%; }
  .mouses .colores__mouse {
    display: flex;
    flex-direction: row; }
    .mouses .colores__mouse .diviciones__mouses {
      width: 50%; }
      .mouses .colores__mouse .diviciones__mouses .mouse__negro .mouse__blanco {
        width: 50%; } }

.cont__cel, .cont__cel__abajo {
  display: flex;
  flex-direction: row; }
  .cont__cel .izq__kishi, .cont__cel__abajo .izq__kishi, .cont__cel .cont__cel__abajo, .cont__cel__abajo .cont__cel__abajo {
    width: 50%; }
    .cont__cel .izq__kishi .img__kishi, .cont__cel__abajo .izq__kishi .img__kishi, .cont__cel .cont__cel__abajo .img__kishi, .cont__cel__abajo .cont__cel__abajo .img__kishi {
      width: 100%; }
  .cont__cel .img__anzu, .cont__cel__abajo .img__anzu, .cont__cel .img__auris, .cont__cel__abajo .img__auris, .cont__cel .img__funda, .cont__cel__abajo .img__funda {
    width: 100%; }

.cont__cel__abajo .padd_title {
  padding-top: 52px; }

.kishi__contenedor {
  display: flex;
  flex-direction: column; }
  .kishi__contenedor .cont__kishi {
    width: 100%; }
    .kishi__contenedor .cont__kishi .img__kishi {
      width: 100%; }
  .kishi__contenedor .contendor__kishi {
    display: flex;
    flex-direction: row; }
    .kishi__contenedor .contendor__kishi .kishi__izq {
      width: 50%; }
      .kishi__contenedor .contendor__kishi .kishi__izq .control__kishi {
        width: 100%;
        justify-content: center; }
    .kishi__contenedor .contendor__kishi .kishi__der {
      width: 50%; }
      .kishi__contenedor .contendor__kishi .kishi__der .img__kishizq {
        width: 100%;
        justify-items: center; }

.anzu__sect .anzu__cont .logo__anzu {
  position: relative;
  left: 550px;
  bottom: 250px; }

.anzu__sect .anzu__cont .img__anzu, .anzu__sect .anzu__cont .cont__cel .img__auris, .cont__cel .anzu__sect .anzu__cont .img__auris, .anzu__sect .anzu__cont .cont__cel__abajo .img__auris, .cont__cel__abajo .anzu__sect .anzu__cont .img__auris, .anzu__sect .anzu__cont .cont__cel .img__funda, .cont__cel .anzu__sect .anzu__cont .img__funda, .anzu__sect .anzu__cont .cont__cel__abajo .img__funda, .cont__cel__abajo .anzu__sect .anzu__cont .img__funda {
  width: 100%; }

.anzu__sect .img__gafa {
  width: 100%; }

.anzu__sect .img__anzugafa {
  width: 100%; }

.portada .portada__auiris {
  width: 100%; }

.portada .intento__auiris {
  padding-top: 50px;
  background-color: black;
  display: flex;
  justify-content: center; }
  .portada .intento__auiris .razer__chi {
    font-size: 20px;
    text-align: center;
    color: green;
    flex-direction: column; }
  .portada .intento__auiris .hamerhead {
    color: white;
    font-size: 40px;
    display: flex; }
    .portada .intento__auiris .hamerhead .unidad {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .portada .intento__auiris .hamerhead .unidad .arriba {
        color: white;
        font-size: 20px; }
      .portada .intento__auiris .hamerhead .unidad .wireless {
        color: white;
        font-size: 20px; }

.auiris__razer {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .auiris__razer .img__auris1 {
    width: 50%; }
    .auiris__razer .img__auris1 .foto__auris {
      width: 100%; }
  .auiris__razer .info__auris {
    width: 50%; }

.otra__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .otra__info .info__auris2 {
    width: 50%; }
  .otra__info .info__img {
    width: 50%; }
    .otra__info .info__img .img__auris3 {
      width: 100%; }

.fundas .funda__img {
  width: 100%; }

.fundas .funda__atras {
  width: 100%; }

.volver {
  display: inline-block;
  padding: 20px;
  background-color: black;
  color: white;
  font-size: 40px;
  position: fixed;
  bottom: 0;
  right: 0;
  transition: 0.5s; }

.volver:hover {
  background-color: green; }

@media screen and (max-width: 600px) {
  .anzu__sect {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .anzu__sect .logo__anzu {
      display: none; }
    .anzu__sect .logo__anzu__responsive {
      align-items: center;
      justify-content: center;
      align-content: center; }
  .volver__arriba {
    display: none; }
  .volver__arriba__responsive {
    width: 100%;
    background-color: red; }
    .volver__arriba__responsive .volver {
      background-color: red;
      font-size: 40px; }
  .portada .intento__auiris {
    display: none; } }

.formulario .form {
  display: flex;
  align-items: center;
  flex-direction: column; }

.formulario .form__bg {
  width: 700px;
  display: flex;
  margin: 0 auto; }

.formulario .form-label {
  color: white; }

.formulario .form-check-label {
  color: white; }

.formulario .comment {
  color: red; }

.formulario .comentario {
  color: white; }

.formulario .form-check {
  color: white;
  display: flex; }

.formulario .sex {
  color: white; }

.formulario .btn-primary {
  color: #212529;
  background-color: #007400;
  border-color: #212529; }

@media screen and (max-width: 600px) {
  .formulario .img__gb__cont {
    width: 100%; }
    .formulario .img__gb__cont .form__bg {
      width: 300px; }
  .form {
    background-color: black;
    width: 100%; }
  .btn-primary {
    color: #212529;
    background-color: #007400;
    border-color: #212529; } }

.mapas {
  display: flex;
  flex-direction: row;
  padding-top: 3px;
  justify-content: center;
  align-items: center; }
  .mapas .izquierda__map {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 200px; }
    .mapas .izquierda__map .info_hora, .mapas .izquierda__map .contacto__maps, .mapas .izquierda__map .ubicacion__maps {
      display: flex;
      justify-content: center; }
    .mapas .izquierda__map .contacto__maps {
      padding-top: 40px; }
      .mapas .izquierda__map .contacto__maps .material-symbols-outlined {
        padding-right: 20px; }
    .mapas .izquierda__map .ubicacion__maps {
      padding-top: 20px; }
    .mapas .izquierda__map .material-symbols-outlined {
      color: white;
      font-size: 40px; }

.sucursales__title {
  padding-top: 30px;
  padding-bottom: 30px; }

* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: black; }

h1 {
  color: green;
  text-align: center; }

h2 {
  color: green;
  text-align: center; }

h3 {
  color: white;
  justify-content: center;
  text-align: center; }

a {
  text-decoration: none;
  color: white; }
