
.formulario{
    .form{
        display: flex;
        align-items: center;
        flex-direction: column;
        
        
    }
    .form__bg{
        width: 700px;
        display: flex;
        margin: 0 auto;
        
    }
    .form-label{
        color: white;
    }
    .form-check-label{
        color: white;
    }
    .comment{
        color: red;
    }
    .comentario{
        color: white;
    }
    .form-check{
        color: white;
        display: flex;
    }
    .sex{
        color: white;
    }
    .btn-primary {
        color: #212529;
        background-color: #007400;
        border-color: #212529;
    }
    

}
@media screen and (max-width:600px){
   .formulario{
    .img__gb__cont{
        width: 100%;
        .form__bg{
            width: 300px;
        }
    }
   }
   .form{
       background-color: black;
       width: 100%;
   }
   .btn-primary {
    color: #212529;
    background-color: #007400;
    border-color: #212529;
}
    
}
