
.formulario{
    .form{
        display: flex;
        align-items: center;
        flex-direction: column;
        
        
    }
    .form__bg{
        width: 700px;
        display: flex;
        margin: 0 auto;
        
    }
    .form-label{
        color: white;
    }
    .form-check-label{
        color: white;
    }
    .comment{
        color: red;
    }
    .comentario{
        color: white;
    }
    .form-check{
        color: white;
        display: flex;
    }
    .sex{
        color: white;
    }
    

}
