.mapas{
    padding-bottom: 20px;
    display: flex{
        flex-direction: row;
    };
    .mapa__iframe{
        width: 50%;
    }
.info__tienda{
    width: 50%;
    
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    flex-direction: column;
    .titulos__mapas{
        .nombre__local{
            font-size: 60px;
            color: white;
            align-content: center;
        }
    }
    .fa-solid{
        color: rgb(255, 238, 238);
        padding: 10px;

    }
}

}




@media screen and (max-width:600px){
    .mapas{
        display: flex;
        flex-direction: column;
        .mapa__iframe{
            width: 99%;
        }
        .info__tienda{
            width: 100%;
            display: flex;
            flex-direction: column;
            .titulos__mapas{
                width: 100%;
                .nombre__local{
                    font-size: 50px;
                }
            }
        }
    }
    .volver{
        display: none;
    }
}
